.app-bar-top {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 60px;
}

.menu-icon {
  flex: 1;
  max-width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gray;
}

.app-bar-title {
  color: gray;
  line-height: 60px;
  flex: 6;
  height: 100%;
  justify-content: start;
  text-align: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}